body {
	background: #ffe6ac;
}

h1 {
	text-align: center;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
}

ol {
	list-style-type: none;
	counter-reset:  item;
}
		
dt {
	margin-top: 20px;
	font-style: italic;
}

dl {
	list-style-type: none;
	counter-reset:  item;
}
dt:before {
	content: counter(item) ') ';
	counter-increment: item;
}

ol>li {	
	margin-top: 20px;
}
ol>li:before {
	content: 'A'counter(item) ') ';
	counter-increment: item;
}